html[color-mode="light"] {
  --bg: var(--purple-0);
  --text-color: var(--purple-2);
  --btn-color: var(--green-0);
  --btn-color-active: var(--green-1);
  --title-color: var(--purple-3);
  --switch-ball: var(--black);
}
