html[color-mode="dark"] {
  --bg: var(--purple-4);
  --text-color: var(--purple-0);
  --btn-color: var(--green-0);
  --btn-color-active: var(--green-1);
  --title-color: var(--purple-1);
  --switch-ball: var(--white);
}
